@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using HotelModels;
@using Repositry
@model Hotel


@Html.EditorForModel()
@*<table>
    @using (Html.BeginForm("Create", "Hotel", FormMethod.Post))
    {
        <tr>
            <th colspan="2" align="center">Hotel Details</th>
        </tr>
        <tr>
            <td>Hotel Name </td>
            <td>
                @Html.TextBoxFor(m => m.Name)
            </td>
        </tr>
        <tr>
            <td>Category: </td>
            <td>
               
                @Html.TextBoxFor(m => m.Category.)
            </td>
        </tr>
        <tr>
            <td>Name: </td>
            <td>
                @Html.TextBoxFor(m => m.Name)
            </td>
        </tr>
    }
</table>*@

